{
  "env": {
    "benchmark": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "minify"
      ]
    },
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": true
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-json-strings"
      ]
    },
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ]
    }
  },
  "plugins": ["macros", "@babel/plugin-proposal-json-strings"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ]
}
