{
  "env": {
    "benchmark": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "minify"
      ],
      "plugins": ["@babel/plugin-proposal-json-strings"]
    },
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": true
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-json-strings"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-json-strings"]
    },
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-json-strings"]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "minify"
      ],
      "plugins": ["@babel/plugin-proposal-json-strings"]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-json-strings"]
    }
  }
}
