{
  "env": {
    "benchmark": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2",
        "minify"
      ]
    },
    "development": {
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "lib": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2",
        "minify"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2"
      ]
    }
  }
}
