{
  "extends": ["airbnb-base"],
  "globals": {
    "__dirname": true,
    "Buffer": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true,
    "TypedArray": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-bitwise": 0,
    "no-plusplus": 0
  }
}
